<html>
    <head>
        <title>Vuetiful</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="root" >
            <progress-view inline-template>
                <div>
                    <h2>current progress: {{ completionRate }}&#37;</h2>
                    <p><button @click="completionRate += 10">Update</button></p>
                </div>
                
            </progress-view>
            <h1 :class="{ 'blue': tmp }" @click="toggleVar" >
                Names
            </h1>
            <div>
                {{names}}
                {{reversedMessage}}
            </div>
            <input type="text" v-model="newName" />
            <button  @click="addName" :title="title" >
                Add name
            </button>
            <button :class="{ 'red-style': tmp }" @click="toggleVar" >
                Color
            </button>
            <div>
                <task-list></task-list>
            </div>
            <div>
                All Tasks
               <task-list></task-list>
            </div>
            <div>
                Incomplete Tasks
                <ul>
                    <li v-for="task in incompleteTasks" v-text="task.description"></li>
                </ul>
            </div>
            
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
    <script type="text/javascript" src="app.js" ></script>
    
</html>